<div id="home">
    <img src="/public/images/beer.png" alt="Beer">

    <a class="butt" href="http://localhost:3000/beers">Check the Beers!</a>

    <a class="butt" href="http://localhost:3000/random-beer">Check a Random Beer</a>

</div>